apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lazarus.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lazarus.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "lazarus.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "lazarus.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "lazarus.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: operator
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LAZARUS_LOG_LEVEL
              value: {{ .Values.config.logLevel | quote }}
            - name: LAZARUS_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: LAZARUS_VELERO_NAMESPACE
              value: {{ .Values.config.velero.namespace | quote }}
            - name: LAZARUS_ENABLE_METRICS
              value: {{ .Values.config.metrics.enabled | quote }}
            - name: LAZARUS_METRICS_PORT
              value: {{ .Values.config.metrics.port | quote }}
            {{- if .Values.config.notifications.slack.enabled }}
            - name: LAZARUS_SLACK_WEBHOOK_URL
              value: {{ .Values.config.notifications.slack.webhookUrl | quote }}
            - name: LAZARUS_ENABLE_SLACK_NOTIFICATIONS
              value: "true"
            {{- end }}
          ports:
            - name: metrics
              containerPort: {{ .Values.config.metrics.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
