apiVersion: v1
kind: Service
metadata:
  name: {{ include "lazarus.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lazarus.labels" . | nindent 4 }}
    app.kubernetes.io/component: metrics
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: {{ .Values.service.name }}
  selector:
    {{- include "lazarus.selectorLabels" . | nindent 4 }}
